#skills .section__wrapper {
    padding: 50px 0; /* Padding around the skills section */
    background: #1c1c1e; /* Dark background color */
}

#skills .primary__title {
    font-size: 36px; /* Larger font size for section title */
    background: linear-gradient(260deg, #c084fc, #fff); /* Purple to white gradient */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    text-align: center;
    /* font-family: fantasy; */
    font-weight: 900;
}

#skills .skills__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* Three columns for skill cards */
    gap: 20px; /* Gap between skill cards */
}

@media (max-width: 1000px) {
    #skills .skills__container {
        grid-template-columns: 1fr 1fr; /* Two columns for skill cards on medium screens */
        gap: 20px;
    }
}

@media (max-width: 600px) {
    #skills .skills__container {
        grid-template-columns: 1fr; /* Single column for skill cards on small screens */
        gap: 20px;
    }
}

#skills .section__header {
    margin-bottom: 2rem; /* Margin below the section header */
}
